.btn {
    width: 50px;
    height: 50px;
    background-image: url("http://downloadicons.net/sites/default/files/plus-icon-64937.png");
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    border-radius: 50px;
    border: 0;
}

button:active {
    border: 2px solid dodgerblue;
}

button:hover {
    background-image: url("http://www.free-icons-download.net/images/green-add-icon-62888.png");
}
