.btn {
  width: 30%;
  height: 10%;
  background-color: #6b8e23;
  border: none;
  outline: none;
  font-size: 12px;
  outline: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  color: white;
}

.green-add:hover {
  cursor: pointer;
  background-color: #9acd32;
}

/**background-image: url("http://www.free-icons-download.net/images/green-add-icon-62888.png");
 background-image: url("http://downloadicons.net/sites/default/files/plus-icon-64937.png");

 .btn {
    width: 50px;
    height: 50px;
    background-color: #9acd32;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    border-radius: 50px;
    border: 0;
    margin: 5px;
}

*/
