.btn-games {
  width: 200px;
  height: 200px;
  margin-top: 20%;
  background-image: url(http://icons.iconarchive.com/icons/shaunkleyn/phlat-blue-folders/128/Games-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border-radius: 20px;
  border: 0;
  margin-right: 50%;
}

.open-mygames:hover {
  cursor: pointer;
}
