.btn-discover {
  width: 100px;
  height: 100px;
  background-image: url("https://i.gifer.com/7jM3.gif");
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  border: none;


}

button:active {
  border: 0.5px solid dodgerblue;
  cursor: pointer;
}
