@import url("https://fonts.googleapis.com/css?family=Karla");
/**@import url('https://fonts.googleapis.com/css?family=Palanquin');*/
/**@import url('https://fonts.googleapis.com/css?family=Roboto');*/

.App {
  width: 100%;
  margin: auto;
  text-align: center;
  background: black;
}

body {
  color: white;
  font-family: "Karla";
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
 
}

